#top h1 {
		font-size: 32pt;
		width: 70%;
		max-width: 900px;
		margin: 40px auto;
	}

iframe {
	/*And a bit of space after the header, before the video/intro copy*/
	margin: 60px 0 20px;
}

/*The video preview container*/
.videobox { 
	position: relative;
	/*And a bit of space after the header, before the video/intro copy*/
	margin: 60px 0 20px;
}

	#video-preview {
		max-width: 480px;
		border-radius: 5px;
		/*border: 1px solid rgba(255,255,255,0.33);*/
		-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  		-moz-box-shadow:    0px 0px 9px 3px rgba(0,0,0,0.15);  /* Firefox 3.5 - 3.6 */
  		box-shadow:         0px 0px 9px 3px rgba(0,0,0,0.15);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}

		/*The play button*/
		.videobox span {
		  display: block;
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  z-index: 1;
		  background: url(../img/video-button.png) no-repeat center center;
		  background-size: 80px;
		  opacity: 0.66;
		}

		/*Get rid of that s-wide border*/
		.videobox a {
			border-bottom: none;
		}

#top {
	/*Background image*/
	background: url(../img/video.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*Universal text preferences*/
  	color: white;
  	/*Bit of breathing-space on the top and bottom*/
  	padding: 30px 0 60px;
  	/*General rules*/
  	text-align: center;
}

.content section {
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 60px;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/

}

.content h2 {
	/*The headings for bulleted areas*/
	font-size: 36pt;
	color: #222a2d;
	/*margin-bottom: 6pt;*/
}

/*Override rules for content p in style.css*/
.content p {
	margin: 0 auto;
	text-align: center;
	margin: 6pt 0 20px;
}

section ul {
	padding: 0;
}

	.content ul li {
		line-height: 24pt;
		padding-bottom: 12pt;
	}

#section1,
#section2 {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

#section1 {
	padding-bottom: 400px;
}

#section2 {
	padding-bottom: 72pt;
}



#section1 p {
	text-align: center;
	max-width: 690px;
	margin: 0 auto 36pt;
	font-size: 14pt;
	line-height: 21pt;
	color: #6f797d;
	/*max-width: 700px;*/
}

	/*Based on the byline a*/
	.dark-a {
		padding: 20px 60px;
		background-color: #6F797D;
		color: white;
		border-radius: 100px;
		font-size: 14pt;
	}

		.dark-a:hover {
			padding: 20px 70px;
			color: white;
		}

#section2 h2 {
	margin-bottom: 24pt;
}

#section2 ul {
	background-color: white;
	border-radius: 5px;
	margin: 12pt auto 48pt;
	padding: 18pt 0;
	border: 2px solid rgba(0,0,0, 0.05);
	max-width: 90%;
}

#section2 ul li {
	/*float: right;*/
	text-align: center;
	font-size: 14pt;
	max-width: 70%;
	margin: 24pt auto;
	padding-bottom: 24pt;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}

	#section2 ul li:last-of-type {
		padding-bottom: 0;
		/*margin-bottom: 12pt;*/
		border-bottom: 0;
	}

#section3 h2 {
	margin-bottom: 24pt;
}

#section3,
#section3 ul li {
	text-align: center;
	/*margin: 0 auto;*/
}
#section3 ul li {
	margin: 0 auto 20px;
}

.content ul li {
	font-size: 18pt;
	color: #6f797d;
	max-width: 640px;
	margin-bottom: 20px;
	list-style: none;
}

#problem {
	/*Bulleted areas multiple backgrounds*/
	/*https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multiple_backgrounds*/
	background:	url(../img/intro-img.png), url(../img/wave-bg-04.png);
	background-repeat: no-repeat;
	background-position: bottom center, bottom center;
	background-size: 75%, 150%;
	padding: 56pt 0 0;
}

#patent {
	background:	url(../img/patentlight.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 106%;
}

#university {
	background-color: #222a2d;
	background-image: url(../img/wave-bg-02.png);
  	background-size: 160%;
  	background-position: center center;
}

	#university h2 {
		color: white;
	}

	#university ul li {
		background-color: #2C3437;
		text-align: left;
		border: 1px solid #6f797d;
		border-radius: 5px;
		padding: 36pt 12pt 36pt 92pt;
		margin: 2%;
		width: 46%;
		float: left;
		font-size: 14pt;
		color: rgba(255, 255, 255, 0.8);


		background-image: url(../img/tick.png);
		background-repeat: no-repeat;
		background-size: 75px;
		background-position: center left 24pt;
	}

		#university ul li:hover {
			/*background-color: rgba(255, 255, 255, 0.05);*/
		}


#byline {
	background-color: #667e86;
	background-image: url(../img/shanny.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 120px 0;
}

	#byline section {
		width: 40%;
		/*margin: 0 100px 60px auto;*/
		margin: auto 100px auto auto;
	}

	#byline p {
		font-size: 16pt;
		line-height: 24pt;
		margin-bottom: 48pt;
	}

	#byline a {
		padding: 20px 60px;
		background-color: white;
		color: black;
		border-radius: 100px;
		font-size: 14pt;
	}

		#byline a:hover {
			padding: 20px 70px;
		}

footer {
	background-color: #f4f6f7;
	color: #6f797d;
}

	footer .grid {
		border-bottom: 1px solid rgba(0,0,0, 0.1);
	}

/* media queries —————————————————————————————————————————————————————— */

@media screen and (max-width: 760px) {
	#top h1 {
		font-size: 21pt;
		width: 70%;
		margin: 20px auto 40px;
	}
}




