.content {
	background:	url(../img/patentlight.png);
	/*background-repeat: no-repeat;*/
	background-position: top center;
	background-size: 106%;
}

.content h2 {
 	margin-bottom: 60px;
 	text-align: center;
}

#how-flow {
	background-color: white;
	border-radius: 5px;
	margin: 12pt auto 48pt;
	padding: 18pt 0;
	border: 2px solid rgba(0,0,0, 0.05);
	max-width: 90%;
}

.how-desc {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	padding-bottom: 48pt;
}

	.last {
		border-bottom: none;
	}

.content p {
	font-size: 16pt;
	line-height: 24pt;
}

aside {
	font-style: italic;
	color: #6F797D;
}

/*Hide the in-copy numbers for now*/
.content section h5 {
	display: none;
}

.content section {
	margin: 0 auto;
	width: 70%; 
	max-width: 900px;
	padding: 60px 0 60px 200px;

	/*The artwork for each section*/
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: center left 24pt;
}

	/*The section numbers*/
	.content section:before {
		position: relative;
		left: -240px;
		top: 56px;
		font-size: 32pt;
		color: #6F797D;
	}



section:nth-child(1) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(1):before {
		content: "1";
	}

section:nth-child(2) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(2):before {
		content: "2";
	}

section:nth-child(3) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(3):before {
		content: "3";
	}

section:nth-child(4) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(4):before {
		content: "4";
	}

section:nth-child(5) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(5):before {
		content: "5";
	}

section:nth-child(6) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(6):before {
		content: "6";
	}

section:nth-child(7) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(7):before {
		content: "7";
	}





