.content {
	background:	url(../img/patentlight.png);
	/*background-repeat: no-repeat;*/
	background-position: top center;
	background-size: 106%;
}

.content h2 {
 	margin-bottom: 60px;
 	text-align: center;
}

#how-flow {
	background-color: white;
	border-radius: 5px;
	margin: 12pt auto 48pt;
	padding: 18pt 0;
	border: 2px solid rgba(0,0,0, 0.05);
	max-width: 90%;
}

.how-desc {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	padding-bottom: 48pt;
}

	.last {
		border-bottom: none;
	}

.content p {
	font-size: 16pt;
	line-height: 24pt;
}

aside {
	font-style: italic;
	color: #6F797D;
}

/*Hide the in-copy numbers for now*/
.content section h5 {
	display: none;
	font-size: 32pt;
	color: #6F797D;
	line-height: 18pt;
}

.content section {
	margin: 0 auto;
	width: 70%; 
	max-width: 900px;
	padding: 60px 0 60px 170px;

	/*The artwork for each section*/
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: center left;
}

	/*The section numbers*/
	.content section:before {
		position: relative;
		left: -240px;
		top: 56pt;
		font-size: 32pt;
		color: #6F797D;
	}



section:nth-child(1) {
	background-image: url(../img/how/how1.png);
}
	section:nth-child(1):before {
		content: "1";
		top: 72pt;
	}

section:nth-child(2) {
	background-image: url(../img/how/how2.png);
}
	section:nth-child(2):before {
		content: "2";
		top: 72pt;
	}

section:nth-child(3) {
	background-image: url(../img/how/how3.png);
}
	section:nth-child(3):before {
		content: "3";
		top: 62pt;
	}

section:nth-child(4) {
	background-image: url(../img/how/how4.png);
}
	section:nth-child(4):before {
		content: "4";
		top: 66pt;
	}

section:nth-child(5) {
	background-image: url(../img/how/how5.png);
}
	section:nth-child(5):before {
		content: "5";
		top: 50pt;
	}

section:nth-child(6) {
	background-image: url(../img/how/how6.png);
}
	section:nth-child(6):before {
		content: "6";
		top: 56pt;
	}

section:nth-child(7) {
	background-image: url(../img/how/how7.png);
}
	section:nth-child(7):before {
		content: "7";
		top: 58pt;
	}


/* media queries —————————————————————————————————————————————————————— */
@media screen and (max-width: 1260px) {
	/*Hide the section numbers*/
	.content section:before {
		content: "";
	}

	/*Now show the in-copy numbers for now*/
	.content section h5 {
		display: inline;
	}

	/*Fix the left side now*/
	.content section {
		width: 80%; 
	}
}

@media screen and (max-width: 960px) {
	/*Adjust the left side now*/
	.content section {
		width: 90%; 
	}

	#how-flow {
		max-width: 95%;
	}
}

@media screen and (max-width: 700px) {
	.content {
		background:	none;
	}

	.content p {
		font-size: 14pt;
		line-height: 21pt;
	}

	#how-flow {
		background: none;
		border-radius: 5px;
		margin: 12pt auto;
		padding: 0 0;
		border: none;
		max-width: 100%;
	}

	.content section {
		margin: 0 auto;
		width: 100%; 
		padding: 24pt 0 12pt 120px;

		/*The artwork for each section*/
		background-size: 80px;
		background-position: center left;
	}

	.how-desc {
		padding-bottom: 24pt;
	}
}

@media screen and (max-width: 540px) {
	.content p {
		font-size: 12pt;
		line-height: 18pt;
	}
}



