table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-weight: 500;
}

th, td {
	text-align: left;
	padding: 12pt 0 36pt;
	padding-right: 26pt;
}

	th:last-of-type,
	td:last-of-type {
		/*padding-right: 0;*/
	}

tbody tr {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}

	tbody tr:hover {
		background-color: rgba(0,0,0, 0.05);
	}

/* media queries —————————————————————————————————————————————————————— */

@media screen and (max-width: 760px) {
	table {
	}
}