* {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 300;
	text-align: center;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#top-bar {
	/*width: 90%;*/
}

html {
	background-color: #f4f6f7;
}

nav ul {
	/*Make the whole nav element stick to the right-side of the page*/
	float: right;
}

	nav ul li {
		/*Make the list items stay horizontal*/
		float: left;
		/*Give each nav list item a bit of padding on the right*/
		padding-right: 20px;
	}
		
		nav ul li:last-of-type {
			/*Except the last one*/
			padding-right: 0;
		}