* {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 300;
	list-style: none;
	text-decoration: none;
	/*text-align: center;*/
	margin: 0;
	padding: 0;
	transition: all 0.1s ease-out;
}

html {
	background-color: #f4f6f7;
}

nav ul {
	/*Make the whole nav element stick to the right-side of the page*/
	float: right;
}

	nav ul li {
		/*Make the list items stay horizontal*/
		float: left;
		text-align: right;
		/*Give each nav list item a bit of padding on the right*/
		padding-right: 60px;
	}
		
		nav ul li:last-of-type {
			/*Except the last one*/
			padding-right: 0;
		}

		nav ul li a {
			color: white;
		}

header {
	/*Give the header a nice bottom border*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 30px;
}

	header img {
		width: 100px;
	}

iframe {
	/*And a bit of space after the header, before the video/intro copy*/
	margin: 60px 0 20px;
}

#top h1 {
		font-size: 32pt;
		width: 70%;
		max-width: 900px;
		margin: 0 auto 60px;
	}

#top {
	/*Background image*/
	background: url(../img/video.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*Universal text preferences*/
  	color: white;
  	/*Bit of breathing-space on the top and bottom*/
  	padding: 30px 0 60px;
  	/*General rules*/
  	text-align: center;
}

.content {
	/*Bulleted areas multiple backgrounds*/
	/*https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multiple_backgrounds*/
	background:	url(../img/wave-01.png);
	background-repeat: no-repeat;
	background-position: top right;
	/*background-size: 40%;*/
	padding: 100px 0 0;
}

.content section {
	max-width: 960px;
	margin: 0 auto 80px;
	padding-bottom: 60px;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.content h2 {
	/*The headings for bulleted areas*/
	font-size: 36pt;
	color: #222a2d;
	margin-bottom: 20px;
}



#section2 {
	text-align: right;
}

#section2 ul li {
	float: right;
}

	#section2:after {
	  content: "";
	  display: table;
	  clear: both;
	}

#section3 {
	text-align: center;
	/*margin: 0 auto;*/
}
#section3 ul li {
	margin: 0 auto 20px;
}

.content ul li {
	font-size: 18pt;
	color: #6f797d;
	max-width: 640px;
	margin-bottom: 20px;
}


#byline {
	background-color: #667e86;
	background-image: url(../img/wave-bg-01.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 100px 0;
}

	#byline p {
		width: 70%;
		max-width: 900px;
		margin: 0 auto 60px;
		font-size: 24pt;
	}

	#byline a {
		padding: 20px 60px;
		background-color: white;
		color: #667e86;
		border-radius: 100px;
		font-size: 16pt;
		/*font-weight: 700;*/
	}

		#byline a:hover {
			padding: 20px 70px;
		}


footer {
	background-color: #222a2d;
	/*background-image: url(../img/wave-bg-01.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;*/
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 60px 0 40px;
}

	
	footer .grid {
		text-align: left;
		
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding-bottom: 30px;
	}

		footer #logotype {
			width: 180px;
			margin-bottom: 14pt;
		}

		footer .col-1-3:nth-child(2) {
			line-height: 24pt;
		}

		footer .col-1-3:nth-child(3) {
			line-height: 18pt;
		}

	/*The symbol*/
	footer #symbol {
		padding: 40px 0;
		width: 60px;
	}

	footer h6 {	
		font-size: 10pt;
		/*margin-top: 20px;*/
		/*padding-top: 20px;*/
	}








