.content {
	text-align: center;
}

.content h2 {
 	margin-bottom: 60px;
}

.bio {
	display: block;
	width: 150px;
	border-radius: 150px;
	margin: 0 auto 20px;
	background-color: rgba(0,0,0, 0.25);
}

/* media queries —————————————————————————————————————————————————————— */

@media screen and (max-width: 760px) {

 	.content section {
 		margin-bottom: 72pt;
 	}

}