.content {
  /*Bulleted areas multiple backgrounds*/
  /*https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multiple_backgrounds*/
/*  background: url(../img/wave-01.png), url(../img/wave-02.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;*/
  /*background-size: 40%;*/
  padding: 60px 0;
  height: 1000px;
  text-align: center;
}

.content section {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.content h2 {
  /*The headings for bulleted areas*/
  font-size: 24pt;
  color: #222a2d;
  margin-bottom: 60px;
  text-align: center;
}


/*The person's name & title */
.content h3,
.content h4,
.content a {
  text-align: center;
}

.content h3 {
  font-size: 24pt;
}

.content h4 {
  font-size: 14pt;
  margin-bottom: 20px;
}

.content p {
  margin: 20px 0 20px;
  text-align: left;
}

.content li {
  text-align: left;
}

.content p,
.content li {
  line-height: 18pt;
}

.bio {
  display: block;
  width: 150px;
  border-radius: 150px;
  margin: 0 auto 20px;
}

  section a {
    padding: 6px 24px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    border-radius: 100px;
    font-size: 10pt;
    /*font-weight: 700;*/
  }

    section a:hover {
      padding: 6px 30px;
    }


footer {
  background-color: #222a2d;
  /*background-image: url(../img/wave-bg-01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;*/
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 60px 0 40px;
}

  
  footer .grid {
    text-align: left;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 30px;
  }

    footer #logotype {
      width: 180px;
      margin-bottom: 14pt;
    }

    footer .col-1-3:nth-child(2) {
      line-height: 24pt;
    }

    footer .col-1-3:nth-child(3) {
      line-height: 18pt;
    }

  /*The symbol*/
  footer #symbol {
    padding: 40px 0;
    width: 60px;
  }

  footer h6 { 
    font-size: 10pt;
    /*margin-top: 20px;*/
    /*padding-top: 20px;*/
  }








