/*Get rid of bottom padding*/
.content {
	padding-bottom: 0;
}

section:first-of-type {
	/*padding-bottom: 24pt;*/
	max-width: 800px;
}

/*Center the top copy*/
h2, h4 {
	text-align: center;
}

h2 {
	margin-bottom: 10pt;
}

h4 {
	color: #6F797D;
}

/*Get rid of round bullets*/
section ul {
	padding-left: 0;
	list-style: none;
}

	section ul li {
		margin-bottom: 6pt;
	}

/*Add a bit of space after the in-grid headers*/
section h3 {
	margin-bottom: 12pt;
}

	input, textarea {
	padding: 8pt;
	width: 100%;
	margin-top: 6pt;
	margin-bottom: 18pt;
	border: 1px solid rgba(0,0,0, 0.1);
	border-radius: 5px;
	/*background-color: #;*/
}

	input[type="text"]:focus, textarea:focus {
		background-color: #f4f6f7;
	}

textarea {
	height: 172pt;
}

#office {
	margin-bottom: 32pt;
}

.button {
	/*width: 100%;*/
	border-radius: 5px;
	background-color: #222a2d;
	border: none;
	color: white;
	padding: 12pt 56pt;
	text-align: center;
	text-decoration: none;
}

	.button a {		
		color: white;

	}

	.button:hover {
		background-color: #6F797D;
	}
/*
#map {
	background: url(../img/symbol-white.png);
	background-color: #cbd0d1;
	background-size: 15%;
	background-repeat: no-repeat;
	border-radius: 2.5px;
	background-position: center center;
}*/


/* media queries —————————————————————————————————————————————————————— */

@media screen and (max-width: 760px) {
  /*Re-add some bottom padding*/
	.content {
		/*padding-bottom: 24pt;*/
	}

	.content section {
 		margin-bottom: 60pt;
 	}
}







