#top h1 {
		font-size: 32pt;
		width: 70%;
		max-width: 900px;
		margin: 40px auto;
	}


#video-preview {
		max-width: 480px;
		width: 90%;
		border-radius: 5px;
	}

	/*The video preview container*/
	.videobox { 
		position: relative;
		/*And a bit of space after the header, before the video/intro copy*/
		margin: 60px 0 20px;
	}

	/*Get rid of underline for link*/
	.videobox a {
		border-bottom: none;
	}

		/*The play button*/
		.videobox span {
		  display: block;
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  z-index: 1;
		  background: url(../img/home/video-button.png) no-repeat center center;
		  background-size: 80px;
		  opacity: 0.75;
		}




iframe {
	/*And a bit of space after the header, before the video/intro copy*/
	/*margin: 60px 0 20px;
	max-width: 480px;
	max-height: 270px;*/
}

.embed-container {
	margin: 0 auto;

	position: relative;
	/*padding-bottom: 56.25%;*/
	/*height: 0;*/
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	/*position: absolute;
	top: 0;
	left: 0;*/
	width: 100%;
	height: 100%;
	margin: 60px 0 20px;
	max-width: 480px;
	max-height: 270px;

	-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 0px 9px 3px rgba(0,0,0,0.15);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 0px 9px 3px rgba(0,0,0,0.15);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#top {
	/*Background image*/
	background: url(../img/home/video.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*Universal text preferences*/
  	color: white;
  	/*Bit of breathing-space on the top and bottom*/
  	padding: 30px 0 60px;
  	/*General rules*/
  	text-align: center;
}

.content {
  padding: 60px 0 0;
}

.content section {
	max-width: 960px;
	margin: 0 auto;
}

.content h2 {
	/*The headings for bulleted areas*/
	font-size: 36pt;
	color: #222a2d;
	/*margin-bottom: 6pt;*/
}

/*Override rules for content p in style.css*/
.content p {
	margin: 0 auto;
	text-align: center;
	margin: 6pt 0 20px;
}

section ul {
	padding: 0;
}

	.content ul li {
		line-height: 24pt;
		padding-bottom: 12pt;
	}

#section1,
#section2 {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

#section2 {
	padding-bottom: 72pt;
}


#section1 h2 {
	margin-bottom: 8pt;
}
#section1 p {
	text-align: center;
	max-width: 690px;
	margin: 0 auto 48pt;
	font-size: 14pt;
	line-height: 21pt;
	color: #6f797d;
	/*max-width: 700px;*/
}

	/*Based on the byline a*/
	.dark-a {
		padding: 20px 60px;
		background-color: #6F797D;
		color: white;
		border-radius: 100px;
		font-size: 14pt;
	}

		.dark-a:hover {
			padding: 20px 70px;
			color: white;
		}

#section2 h2 {
	margin-bottom: 24pt;
}

#section2 ul {
	background-color: white;
	border-radius: 5px;
	margin: 12pt auto 48pt;
	padding: 18pt 0;
	border: 2px solid rgba(0,0,0, 0.05);
	max-width: 90%;
}

#section2 ul li {
	/*float: right;*/
	text-align: center;
	font-size: 14pt;
	max-width: 70%;
	margin: 24pt auto;
	padding-bottom: 24pt;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}

	#section2 ul li:last-of-type {
		padding-bottom: 0;
		/*margin-bottom: 12pt;*/
		border-bottom: 0;
	}

#section3 h2 {
	margin-bottom: 24pt;
}

#section3,
#section3 ul li {
	text-align: center;
	/*margin: 0 auto;*/
}
#section3 ul li {
	margin: 0 auto 20px;
}

.content ul li {
	font-size: 18pt;
	color: #6f797d;
	max-width: 640px;
	margin-bottom: 20px;
	list-style: none;
}

#problem {
	/*Bulleted areas multiple backgrounds*/
	/*https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multiple_backgrounds*/
	background: url(../img/wave-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom center, bottom center;
	background-size: 140%;
	text-align: center;
	margin: 0 auto;
}

	#problem img {
		width: 100%;
		margin: 72pt auto 0;
		text-align: center;
	}

#patent {
	background:	url(../img/patentlight.png);
	/*background-repeat: no-repeat;*/
	background-position: top center;
	background-size: 106%;
}

#university {
	background-color: #222a2d;
	background-image: url(../img/wave-bg.png);
  	background-size: 160%;
  	background-position: center center;
  	padding-bottom: 60pt;
}

	#university h2 {
		color: white;
	}

	#university ul li {
		background-color: #2C3437;
		text-align: left;
		border: 1px solid #6f797d;
		border-radius: 5px;
		padding: 36pt 12pt 36pt 92pt;
		margin: 2%;
		width: 46%;
		float: left;
		font-size: 14pt;
		color: rgba(255, 255, 255, 0.8);


		background-image: url(../img/tick.png);
		background-repeat: no-repeat;
		background-size: 75px;
		background-position: center left 24pt;
	}

		#university ul li:hover {
			background-color: #333f43;
		}

		#university-logos {
			/*width: 100%;*/
			background-color: #222a2d;
			padding: 48pt 24pt;
		}

			#university-logos img {
				opacity: 0.75;
				max-width: 100%;
				margin: 0 auto;
			}


#byline {
	/*Backup background & color*/
	background-color: #222a2d;
	background-image: url(../img/wave-bg.png);
	/*Real background*/
	background-image: url(../img/shanny.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 120px 0;
}

	#byline section {
		width: 40%;
		/*margin: 0 100px 60px auto;*/
		margin: auto 100px auto auto;
	}

	#byline p {
		font-size: 16pt;
		line-height: 24pt;
		margin-bottom: 48pt;
	}

	#byline a {
		padding: 20px 60px;
		background-color: white;
		color: black;
		border-radius: 100px;
		font-size: 14pt;
	}

		#byline a:hover {
			padding: 20px 70px;
		}

/* media queries —————————————————————————————————————————————————————— */
@media screen and (max-width: 935px) {
	#byline {
		background-color: #222a2d;
		background-image: url(../img/wave-bg.png);
  		background-size: 200%;
  		background-position: center center;
	}

		#byline section {
			width: 90%;
			max-width: 550px;
			margin: 0 auto;
		}

	#university ul li {
		font-size: 12pt;
		padding: 24pt 12pt 24pt 70pt;
		background-size: 40px;
		background-position: center left 24pt;
	}
}

@media screen and (max-width: 760px) {
	#top h1 {
		font-size: 21pt;
		width: 80%;
		margin: 20px auto 40px;
	}

	.content h2 {
		font-size: 28pt;
	}


	#problem {
		background-size: 190%;
	}

	#university ul li {
		width: 100%;
		margin: 2% auto;
		padding: 24pt 12pt 24pt 80pt;
		background-size: 50px;
		background-position: center left 24pt;
	}


	#section2 ul {
		background-color: white;
		border-radius: 5px;
		margin: 24pt auto;
		padding: 24pt 0;
		border: 2px solid rgba(0,0,0, 0.05);
		width: 100%;
		max-width: 100%;
	}

	#section2 ul li {
		font-size: 14pt;
		width: 95%;
		margin: 12pt auto;
		padding-bottom: 24pt;
		border-bottom: 1px solid rgba(0,0,0, 0.1);
	}

	#patent {
		background-size: 200%;
	}
}

@media screen and (max-width: 500px) {
	#top h1 {
		font-size: 18pt;
		width: 90%;
	}

	.embed-container iframe {
		width: 80%;
	}

	#university ul li {
		font-size: 11pt;
	}

	#university-logos {
		max-width: 20%;
		padding: 48pt 24pt;
	}

	#uni-logo {
		max-width: 200px;

	}
}


