table {
	border-collapse: collapse;
	width: 100%;
}

th {
	font-weight: 500;
}

th, td {
	text-align: left;
	padding: 12pt 0 36pt;
	padding-right: 26pt;
}

	th:last-of-type,
	td:last-of-type {
		/*padding-right: 0;*/
	}

tbody tr {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}

	tbody tr:hover {
		background-color: rgba(0,0,0, 0.05);
	}

/* RESPONSIVE EXAMPLE */

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

/* media queries —————————————————————————————————————————————————————— */

@media screen and (max-width: 890px) {

	th, td {
		padding: 12pt 0 24pt;
		padding-right: 26pt;
	}

	.stacktable.large-only { display: none; }
 	.stacktable.small-only { display: table; }

 	tr td:first-child {
 		font-weight: 500;
 	}

 	/*the case numbers*/
 	.st-head-row {
 		font-weight: 300;
 		font-size: 18pt;
 		text-align: center;
 		padding-top: 48pt;
 		margin: 24pt 0;
 	}

 		/*Putting the title back in manually (see below)*/
 		.st-head-row:before {
 			content: 'Case Ref. ';
 		}

 	/*the case numbers' title 'Case Ref.'*/
 	.st-head-row-main {
 		display: none;
 	}

 	th {
	font-weight: 300;
}
}