.content {
	text-align: center;
}

.content:last-of-type {
	padding-top: 0;
	margin-bottom: 60pt;
}

.content h2 {
 	margin-bottom: 60px;
}

	#team-structure{
		border-top: 1px solid rgba(0,0,0, 0.1);
		padding-top: 24pt;
	}
	/*Team structure bit*/
	#team-structure h2{
		/*margin-top: 60pt;*/
	 	margin-bottom: 12pt;
	}

.bio {
	display: block;
	width: 150px;
	border-radius: 150px;
	margin: 0 auto 20px;
	background-color: rgba(0,0,0, 0.25);
}

/* media queries —————————————————————————————————————————————————————— */

@media screen and (max-width: 760px) {

 	.content section {
 		margin-bottom: 72pt;
 	}

}